# ==========================================
# Configurações do Spring Boot & MySQL do Host
# ==========================================
SPRING_DATASOURCE_URL=jdbc:mysql://host.docker.internal:3306/essarota?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=America/Sao_Paulo&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root

# ==========================================
# Configurações da Evolution API
# ==========================================
SERVER_URL=http://localhost:8081
AUTHENTICATION_API_KEY=429644-WqDnoDV-SuaChaveSecretaAqui
EVOLUTION_INSTANCE_NAME=nome-da-instancia

# Banco PostgreSQL interno da Evolution API
POSTGRES_DB=evolution
POSTGRES_USER=evolution
POSTGRES_PASSWORD=evolution123

# Configurações adicionais da Evolution API (opcional)
DEL_INSTANCE=false
DATABASE_SAVE_DATA_INSTANCE=true
DATABASE_SAVE_DATA_NEW_MESSAGE=true
DATABASE_SAVE_MESSAGE_UPDATE=true
DATABASE_SAVE_DATA_CONTACTS=true
DATABASE_SAVE_DATA_CHATS=true
