<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <property name="CONSOLE_LOG_PATTERN"
            value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} - %clr(%-5level){highlight} - %clr(%logger{39}){cyan} - %clr(linha %line){yellow} - %msg%n" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="io.github.tinhascode.essarota" level="DEBUG" />
    <logger name="org.springframework.web" level="INFO" />
    <logger name="org.springframework.security" level="INFO" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
